<div data-ng-controller="layoutController" class="row">
    <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-ng-click="isCollapsed = !isCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
 <a data-ui-sref="search()" data-ui-sref-active="active" class="main-logo">
<img src="/img/logo.jpg">
 </a>
    </div>
    <nav class="collapse navbar-collapse" data-collapse="isCollapsed" data-role="navigation">
        <ul class="navbar-nav nav pull-right menu-bar" data-ng-if="isLoggedIn()">
            <li data-ui-sref-active="active">
                 <a data-ui-sref="search()" class="menu-link">Search</a>
            </li>
            <li data-ng-repeat="item in menu" data-ui-sref-active="active">
                <a data-ui-sref="{{item.state}}">{{item.title}}</a>
            </li>
            <li data-ui-sref-active="active">
              <a  ng-if="!username" class="menu-link" href="https://cwiki.apache.org/confluence/display/ATLAS/Atlas+Home" target="_blank">Help</a>
            </li>
        </ul>
    </nav>
</div>